@charset "UTF-8";

/*基本*/
body{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 300;
}
article{display: block;}

h1{
  color:rgb(82, 20, 20);
}
h2 {
    font-size: 30px;
    color: rgb(82, 20, 20);
}
  h3 {
    font-size: 20px;
  }

  h4{
    font-size: 15px;
  }
li{
  list-style: none;
}

/*リンク設定*/
a{text-decoration: none;
color:#FFF;}
a:hover{color:#006699;}
a:active,a:focus{outline:0;}

.menuber a{
  text-decoration:none;
  color:snow;
}

.nav-global{
 list-style-type:none;
}

input,textarea{
  box-sizing: border-box;
}
textarea{
  width:70%;
  height:12em;
  font-size:16px;
}

.headline{
text-align: center;
}

/*メニューバー*/
.main{
  text-align: center;
}
.menuber{
  list-style-type: none;
  display:flex;
  margin:-5px;
  justify-content: space-around;
  background: rgb(82, 20, 20);
  padding: 3px;
  color:#d6d2d2;}
  a:hover{color:#006699;}
  a:active,a:focus{outline:0;}


/*フッター*/
#footer{
  text-align: center;
  padding: 12px;
  clear: both;
  background: rgb(82, 20, 20);
  color:#fff;
  margin: -5px;
}
.tel strong{
  font-size: 20px;
  font-weight: bold;
}


/*スライドショー関連*/
/*スライドショー全体のスタイル*/
.slide{
  position: relative;
  margin: 0 auto;
  max-width:1000px;
  font-size:0;/*画像下の隙間を埋める為*/
}
.slide img{
  max-width: 90%;
}
/*写真の配置*/
.slide > .container{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide > .container > li{
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
  opacity: 0;
  transition: opacity 1s linear;
}
.slide > .container > li.current{
  position: relative;
  z-index: 1;
  opacity: 1;
}
/*スライドショーのボタン*/
.slide a.prev,
.slide a.next{
  position: absolute;
  display: block;
  top: 50%;
  width:60px;
  height: 60px;
  text-indent: -5000px;
  z-index: 10;/*ボタンを常に画像より上に配置*/
}
.slide a.prev{
  background: 50% 50% no-repeat;
  left:0;
}
.slide a.prev:hover{
  background:  50% 50% no-repeat;
}
.slide a.prev:active{
  background:  50% 50% no-repeat;
}
.slide a.next{
  background: 50% 50% no-repeat;
  right:0;
}
.slide a.next:hover{
  background:  50% 50% no-repeat;
}
.slide a.next:active{
  background: 50% 50% no-repeat;
}
/*スライドショー終わり*/

/*RESPONSIVE*/
@media screen and (max-width:600px){
html{
    font-size: 85%;
  }

.menuber{
  flex-direction: column;
  max-width: 100%;
  background-size: cover;
  margin: -5x 0 0 -5px;
}

h2{
max-width: 100%;
}

h3{
  max-width: 90%;
}
.info{
 max-width:100%;
  }
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
    }
}
